{% extends 'base.html' %}

{% block content %}
    <h1>SIMES HOME</h1>
    <ul>
        <article class="media content-section">
            <img class="rounded-circle article-img" src="">
            <div class="media-body">
                <div class="article-metadata">
                <a class="mr-2" href="#">{{ object.author }}</a>
                <small class="text-muted">{{ object.date_posted }}</small>
                </div>
                {% if object.image %}
                <a href="{{ object.image.url }}"><img src="{{ object.image.url }}" class="card-img-top"/></a>
                {% endif %}
                <h2><a class="article-title" href="#">{{ object.title }}</a></h2>
                <p class="article-content">{{ object.content }}</p>
                {% if request.user == object.author or user.is_staff %}
                <a href="update/"><button class='btn btn-outline-info'>Update</button></a>
                <a href="delete/"><button class='btn btn-outline-danger'>Delete</button></a>
                {% endif %}
            </div>
        </article>
    </ul>
{% endblock %}