{% extends 'base.html' %}

{% block content %}
    <ul>
        {% for object in object_list %}
            <article class="media content-section">
                <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
                <div class="media-body">
                  <div class="article-metadata">
                    <a class="mr-2" href="{% url 'profile' %}">{{ object.author }}</a>
                    <small class="text-muted">{{ object.date_posted }}</small>
                  </div>
                  {% if object.image %}
                    <a href="{{ object.image.url }}"><img src="{{ object.image.url }}" class="card-img-top"/></a>
                  {% endif %}
                  <h2><a class="article-title" href="{{ object.slug }}/">{{ object.title }}</a></h2>
                  <p class="article-content">{{ object.content|linebreaks|truncatewords:30 }}<a href="{{ object.get_detail_url }}">Read More</a></p>
                </div>
              </article>
        
        {% endfor %}
    </ul>
{% endblock %}