{% extends 'base.html' %}

{% block content %}
    <h1>{{ title }}</h1>
    <div class="media-body">
        <h2><a class="article-title" href="#"></a></h2>
        <p class="article-content"> SIMES is a techonoloy company founded in 2018. It offers software development and mantainence services to clients </p>
        <h2><a class="article-title" href="#">Mission </a></h2>
        <p class="article-content"> Empower production and make life simpler using the technology way</p>
        <h2><a class="article-title" href="#">Vision </a></h2>
        <p class="article-content"> Embrace change through commitment  and growth through Excellence </p>
        <h2><a class="article-title" href="#">Core Values </a></h2>
        <p class="article-content">
            <ul>
                <li>Excellence</li>
                <li>Passion of code</li>
                <li>Intergrity</li>
                <li>Collaboration for additional throughput</li>
                <li>Hard Work</li>
                <li>Self Esteem</li>
                <li>Competitive Advantage</li>
            </ul>
        </p>
      
      </div>
{% endblock %}