{% extends 'base.html' %}

{% block content %}
    <h1>SIMES HOME</h1>
    <ul>
        <article class="media content-section">
            <img class="rounded-circle article-img" src="">
            <div class="media-body">
                <div class="article-metadata">
                <a class="mr-2" href="#">post.author</a>
                <small class="text-muted">post.date_posted|date:"F d, Y"</small>
                </div>
                <h2><a class="article-title" href="#">{{ object.title }}</a></h2>
                <p class="article-content">{{ object.content }}</p>
            </div>
        </article>
    </ul>
{% endblock %}