{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1>{{ title }}</h1>
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{% static 'img/essie.jpg'%}">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="#">Esther Mbithe</a>
            <small class="text-muted"><a href="mailto:esthermbither@simes.com">esthermbither@simes.com</a></small>
          </div>
          <h2><a class="article-title" href="#">Chief Pioneer, C.E.O.</a></h2>
          <p class="article-content">Java, OracleDB, PowerBuilder</p>
          <button class='btn btn-outline-info'>GitHub</button>
          <button class='btn btn-outline-info'>Facebook</button>
          <button class='btn btn-outline-info'>Twitter</button>
          <button class='btn btn-outline-info'>LinkedIn</button>
          <button class='btn btn-outline-info'>BitBucket</button>
        </div>
      </article>
      <article class="media content-section">
        <img class="rounded-circle article-img" src="{% static 'img/default.jpg'%}">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="#">Simoniel Musyoki</a>
            <small class="text-muted"><a href="mailto:simonielmtk3@simes.com">simonielmtk3@simes.com</a></small>
          </div>
          <h2><a class="article-title" href="#">Chief Analyst, Decision Overseer</a></h2>
          <p class="article-content">Python(Django/Flask), React, AI/ML</p>
          <button class='btn btn-outline-info'>GitHub</button>
          <button class='btn btn-outline-info'>Facebook</button>
          <button class='btn btn-outline-info'>Twitter</button>
          <button class='btn btn-outline-info'>LinkedIn</button>
          <button class='btn btn-outline-info'>BitBucket</button>

        </div>
      </article>
      <article class="media content-section">
        <img class="rounded-circle article-img" src="{% static 'img/tal.jpg'%}">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="#">Kiptalam</a>
            <small class="text-muted"><a href="mailto:kiptalam@simes.com">kiptalam@simes.com</a></small>
          </div>
          <h2><a class="article-title" href="#">Chief Designer, Assistant CEO</a></h2>
          <p class="article-content">Graphics, JavaScript, Ruby on Rails</p>
          <button class='btn btn-outline-info'>GitHub</button>
          <button class='btn btn-outline-info'>Facebook</button>
          <button class='btn btn-outline-info'>Twitter</button>
          <button class='btn btn-outline-info'>LinkedIn</button>
          <button class='btn btn-outline-info'>BitBucket</button>
        </div>
      </article>
{% endblock %}